body {
  margin: 0;
  padding: 0;
 background-color:#e4ebf5;
 width: 100%;
 overflow-x: hidden;
}

  .show {
    transform: translateY(0);
  }
  
  .hide {
    transform: translateY(-150%);
  }

  


/* ///////////////////////////////////////////////////////////////////////// */



.hflex-container {

  display: flex;
  justify-content: flex-end;
  height: 32px ; 
  gap:0.25rem;
  background-color:#e4ebf5;

  transition: transform 0.2s;
position: fixed;
top:0px;
width: 100%;
z-index: 1000;
}

.hcontainer {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 14px 0px 0px;
  padding-top: 4px;
  color: #335DA3;
}

.separator {
font-size: 16px;
  color: grey; 
  opacity:0.7 ;
  padding-top: 4px;
  margin: 0px 17px 0 0; 
}


/* /////////////////////////////////////////////////////////////////////////////////////////////// */
.navbar{
display:flex;
padding-bottom: 24px;
padding-top:24px;
padding-left: 88px;
padding-right:88px;
justify-content: flex-end;
background-color: #e4ebf5;


transition: transform 0.2s;
position: fixed;
top: 32px;
width: 100%;
z-index: 1000;
}

.navItems{
margin:0;
padding-right:25px;
border:0;
text-align: center;
color: black;
font-size:16px;
font-weight:bold;
font-family: "Schibsted Grotesk", sans-serif;
}

.navLogo{
width:100%;
}

.menu{
position: absolute;
color: black;
font-size: large;
}



/* //////////////////////////////hamburger menu////////////////////////////////// */
.ham{
  top:0px;
  display: flex;
  flex-direction: column;
width:100vw;
height:100vh;
position: fixed;
z-index: 1500;
background-color:#00235D;
}

.hamdiv1{  
  width: 100%;
  height:10%;
  display: flex;
  
  justify-content: space-between;


}

.hamdiv2{
  display: flex;
  flex-direction:column;
align-items: center;
}

.hamdiv2 p{
  font-size: 16px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 550;
  color: white;
}

.hamdiv3{

display: flex;
flex-direction:row;
align-items: center;
justify-content: center;
gap: 1.25rem;


}

.hamdiv3 p{
  font-size: 12px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 550;
  color: white;
}

.hamdiv3 span{
  font-size: 20px;
  color: grey; 
  opacity:0.7 ;
}

.hamshow{
transform: translateX(0);
transition: transform 0.5s ease-in;


}

.hamhide{
transform:translateX(100%);
transition: transform 0.5s ease-in;

}


/* ////////////////////////////////////////////////////// */

.section1{

  margin-top: 160px;

height: 824px;
width:100%;
display:flex;

}

.section1emt{
width:50%;
border-top: 1.5px solid #00358D;
}

.section1vid{
width:45%;
border-top-right-radius: 200px;
border-top: 1.5px solid #00358D;
border-right:1.5px solid #00358D;;

}


.section1video{
 
  height:100%;
  width:100%;
  object-fit: cover;
  border-top-right-radius: 200px;
  background-color: black;
  
}

.section1text{
position:absolute;
font-size: 136px;
font-family: "Exo", sans-serif;
padding-left: 44px;
font-weight: 700;
font-style: bold;
line-height: 0.9;
padding-top: 96px;
}


.overlaysection1{
  position: absolute;
  width:50%;
  height:100%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  }
  

#diff{
  color: transparent;
  -webkit-text-stroke: 2px #000000;
  display: inline-block;
  font-style: italic;

}



/* /////////////////////////////////////////////////////////////////////////////////////////////// */


.section2{
  background-color: #00358D;
  padding-left: 7.5%;
  padding-right:7.5%;
  
  display:flex;
  border-top-left-radius:40px ;
  padding-top: 160px;
  padding-bottom: 160px;
  margin-bottom: 100px;
}



.section2container1{
  width:35%;
display:flex;
flex-direction:column;
color:white;
font-size: 72px;
font-family: "Exo", sans-serif;

font-weight: 500;
font-style: bold;
}

.section2container2{
  width:65%;
  display:flex;
  flex-direction:column;
padding-left: 200px;
padding-right: 32px;
}


/* ////////////////////////////// */

.sec2cont1img1{
  height:232px;
  width:30%;
  position: absolute;
  margin-top: 300px;
}

.sec2cont1img2{
  height:232px;
  width:30%;
  position: absolute;
  margin-top: 400px;
}

.sec2cont1img3{
  height:232px;
width:30%;
position: absolute;
margin-top: 500px;
}

.sec2cont1img4{
  height:232px;
  width:30%;
  position: absolute;
margin-top: 600px;
}


.sec2cont1img1 img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.sec2cont1img2 img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.sec2cont1img3 img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.sec2cont1img4 img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.sec2hidden{
  opacity: 0;
  transition: opacity 0.5s ease;
}


/* ////////////////////// */

.section2container2heading{
font-size: 40px;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 550;
color: white;

}

.section2opacity{
  color: rgba(255, 255, 255, 0.2) !important;

}

.sec2cont2para{
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 16px;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 400;
color: white;
line-height: 2;
}



.section2container2text{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.sec2cont2loading{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-bottom: 2px solid white;
  width: 0%;
}

.startloading{
width:100% !important;
transition: width 20s linear;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.section3{
  padding-top: 80px;
  padding-left: 44px;
  padding-right: 88px;
 

}

.section3heading{
font-size: 16px;
color: #00358D;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 550;

}

.section3para{
color: #00112E;
font-size: 32px;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 500;
background-color: #e4ebf5;
line-height: 1.5;
}

.section3paracontainer{
width:75%;
background-color: white;


}

.section3button{
height:57px;
width:195px;
padding: 8px;
border:0.0625rem solid #99aed1;
background-color: white;
border-radius: 2rem;
font-size: 16px;
color: #00358D;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 550;
display: flex;
background-color: #e4ebf5;



}
.section3buttontext{
  width:60%;
  padding-left: 24px;
  padding-top: 8px;
  padding-right: 8px;
}
.section3design{
  position: absolute;
right:0;
top:0;
width:70%;
height: 100%;
border: 0.0625rem solid #00112E;
border-bottom: none;
border-left: none;
z-index: -1;
border-top-right-radius: 100px;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */


.section4{
height: 610px;
padding-left: 1%;
padding-right: 1%;
display: flex;
flex-direction: column;
margin-top: 80px;
margin-bottom: 40px;

}

.section4container{
display: flex;
font-size: 40px;
font-family: "Exo", sans-serif;
font-weight: 600;
padding-bottom: 50px;
position: relative;

}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */

.section5{
display:flex;
margin-top:80px;
margin-bottom: 80px;
height:528px;
padding-left: 7.5%;
padding-right:7.5%;
}

.section5container1{
display:flex;
flex-direction: column;
width: 50%;

}

.section5container1heading{
  font-size:56px;
  font-family: "Exo", sans-serif;
font-weight: 600;
font-style: bold;
color:#00235D;
margin-bottom: 10px;
padding-left: 2.5%;
}

.section5container1para{
  font-size:20px;
  font-family: "Exo", sans-serif;
font-weight: 600;
font-style: bold;
color:#00112E;
margin-bottom: 20px;
line-height: 1.5;
padding-left: 2.5%;




}

.section5button{
  height:57px;
  width:275px;
  padding: 8px;
  border:0.0625rem solid #99aed1;
  background-color: white;
  border-radius: 2rem;
  font-size: 16px;
  color: #00358D;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 550;
  display: flex;
  margin-left: 2.5%;
  background-color: #e4ebf5;
  
  
  
  }
  .section5buttontext{
    width:70%;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 8px;
    padding-top:10px;
    font-family: "Schibsted Grotesk", sans-serif;

    font-style: normal;
    font-weight: 600;
  }

.section5container2{
background-color: #FFFFFF;
width:45%;
border-top-left-radius:100px ;
margin-left: 100px;
}



.sec5cont2img img{
position: absolute;
width: 50%;
height:auto;
opacity: 0;
right:2.5%;
}

.sec5show img{
  opacity: 100%;
  transition: opacity 0.5s ease-out;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

.section6{
  margin-top: 184px;
  margin-bottom: 184px;
  padding-left: 88px;
  padding-right: 88px;
  height: 688px;
  display: flex;
  position:relative

}


.section6container2{
  display:flex;
  flex-direction: column;
  width: 50%;
  
  }
  
  .section6container2heading{
    font-size:56px;
    font-family: "Schibsted Grotesk", sans-serif;

    font-style: normal;
    font-weight: 400;
  color:#FFFFFF;
  margin-bottom: 10px;
  padding-left: 2.5%;
  padding-top: 200px;
  }
  
  .section6container2para{
    font-size:20px;
    font-family: "Exo", sans-serif;
  font-weight: 400;
  font-style: bold;
  color:#FFFFFF;
  margin-bottom: 20px;
  line-height: 1.5;
  padding-left: 2.5%;
  }
  
  .section6button{
    height:57px;
    width:275px;
    padding: 8px;
    border:0.0625rem solid #99aed1;
    background-color: #00235d;
    border-radius: 2rem;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
    display: flex;
    margin-left: 2.5%;
    
    
    
    
    }
    .section6buttontext{
      width:70%;
      font-size: 16px;
      padding-left: 24px;
      padding-right: 8px;
      padding-top:10px;
      font-family: "Schibsted Grotesk", sans-serif;
  
      font-style: normal;
      font-weight: 600;
    }
  
  .section6container1{
  width:50%;
  }

  .section6design{
    position: absolute;
    background-color:#00235d;
    top:0;
    bottom:0;
    right:0;
    left:auto;
    z-index: -1;
    width:72%;
    border-bottom-left-radius: 6rem;
    border-top-left-radius: 6rem;
    height: 100%;
  }




  


    .sec6cont1img img{
    position: absolute;
    width: 50%;
    height:auto;
    opacity: 0;
    top:25%;
    
    }
    
    .sec6show img{
      opacity: 100%;
      transition: opacity 0.25s;
      transform: translateY(-400px) scale(0);
      transition: transform 0.25s linear 0.75s;
    }




/* ///////////////////////////////////////////////////////////////////////////// */


.section7{
  display:flex;
  margin-top:80px;
  margin-bottom: 80px;
  height:528px;
  padding-left: 7.5%;
  padding-right:7.5%;
  }
  
  .section7container1{
  display:flex;
  flex-direction: column;
  width: 60%;
  
  }
  
  .section7container1heading{
    font-size:56px;
    font-family: "Exo", sans-serif;
  font-weight: 500;
  font-style: bold;
  color:#00235D;
  margin-bottom: 10px;
  padding-left: 2.5%;
  padding-right: 20%;
  }
  
  .section7container1para{
    font-size:20px;
    font-family: "Exo", sans-serif;
  font-weight: 450;
  font-style: bold;
  color:#00112E;
  margin-bottom: 20px;
  line-height: 2;
  padding-left: 2.5%;
  
  
  
  
  }
  
  .section7button{
    height:57px;
    width:300px;
    padding: 8px;
    border:0.0625rem solid #99aed1;
    background-color: white;
    border-radius: 2rem;
    font-size: 16px;
    color: #00358D;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
    display: flex;
    margin-left: 2.5%;
    background-color: #e4ebf5;
    
    
    
    }
    .section7buttontext{
      width:80%;
      font-size: 16px;
      padding-left: 24px;
      padding-right: 8px;
      padding-top:3px;
      font-family: "Schibsted Grotesk", sans-serif;
  
      font-style: normal;
      font-weight: 600;
    }
  
  .section7container2{
  background-color: #FFFFFF;
  width:40%;
  border-bottom-left-radius: 100px;
  
  }

  .section7container2 img{
width:100%;
height: 100%;
border-bottom-left-radius: 100px;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////// */

.section8{
  display:flex;
  flex-direction: column;
  margin-top: 240px;
  margin-bottom: 120px;
position: relative;



}

.section8container1{
  height:623px;
  position:relative;
 margin-right: 40px;
justify-content: center;
  font-size: 100px;
font-family: "Exo", sans-serif;
font-weight: 600;
font-style: bold;
color: #FFFFFF;
background-color:#e4ebf5;;
}

.section8container2{

padding-right: 40px;
background-color: #00112e;
}

.section8container3{
padding-top: 80px;
padding-bottom: 112px;
border-bottom-left-radius: 100px;
background-color: #00112E;

}
 

.section8vid{
  border-top-right-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.section8container1heading{

  position: relative;
  top:170px;
  width:70%;
  left: 44px;
  z-index: 2;
  
}




.section8cont2cont{
  border:0.0625rem solid #99aed1;
  border-bottom-right-radius: 100px;
  padding-top: 48px;
  padding-bottom: 88px;
  background-color: #00112e;
  padding-left: 40px;
  

}

.section8container2text{
font-size: 72px;
font-family: "Exo", sans-serif;
font-weight: 500;
font-style: bold;
color: #FFFFFF;

}

.section8container3text{
  position: relative;
  left:35%;
  font-size: 20px;
  font-family: "Schibsted Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.5;




}

.section8buttontext{
  width:70%;
      font-size: 16px;
      padding-left: 24px;
      padding-right: 8px;
      padding-top:10px;
      font-family: "Schibsted Grotesk", sans-serif;
  
      font-style: normal;
      font-weight: 600;
}

.section8button{
position: relative;
  height:57px;
  width:200px;
  padding: 8px;
  border:0.0625rem solid #99aed1;
  background-color: #00112E;
  border-radius: 2rem;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 550;
  display: flex;
  margin-left: 2.5%;
left:32.5%;

}

/* ///////////////////////////////////////////////////////////////////////////////////// */

.section9{
  display: flex;
  padding-left:40px;
  padding-right: 40px;

}

.section9container1{
  width: 40%;
}


.section9container1subheading{
  font-size: 16px;
color: #00358D;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 550;

}

.section9container1heading{

  font-size:56px;
  font-family: "Exo", sans-serif;
font-weight: 500;
font-style: bold;
color:#00235D;
margin-bottom: 10px;

}

.section9button{
  height:57px;
  width:200px;
  padding: 8px;
  border:0.0625rem solid #99aed1;
  background-color: white;
  border-radius: 2rem;
  font-size: 16px;
  color: #00358D;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 550;
  display: flex;
  background-color: #e4ebf5;
  
  
  
  }
  .section9buttontext{
    width:80%;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 8px;
    padding-top:7px;
    font-family: "Schibsted Grotesk", sans-serif;

    font-style: normal;
    font-weight: 600;
  }


.section9container2{
  width:60%;
  display:flex;
  flex-direction: column;
 
 
}

.section9cont2cont{
  background-color: #FFFFFF;
  display: flex;
  border-bottom-right-radius: 50px;
  margin-bottom:20px;
}




.section9container2contimg{
  width: 184px;
  position: relative;

}

.section9img{
  min-height: 100%;
  height:auto;
  overflow: hidden;
width:184px;
object-fit: cover;
}


.section9cont2contcontent{
  position: relative;
  padding-left: 32px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 24px;


}



.section9cont2contcontentheading{
  font-size:32px;
  font-family: "Exo", sans-serif;
font-weight: 600;
font-style: bold;
color:#00235D;
margin-bottom: 10px;


}

.section9cont2contcontentpara{

  font-size:16px;
  font-family: "Exo", sans-serif;
font-weight: 450;
font-style: bold;
color:#00112E;
margin-bottom: 20px;
line-height: 2;



}

.section9button2cont{
 overflow:hidden
}


.section9button2{
  height:auto;
  width:auto;
  background-color: transparent;
  font-size: 16px;
  color: #00358D;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 550;
  display: flex;
  border: none;
  float:right;
 
  
  
  
  }
  .section9button2text{
    width:80%;
    padding-top: 8px;
    padding-right: 12px;
    
  }

  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */


  .section10{
height:1099px;
position: relative;
margin-top: 100px;
  }

  .section10design{
    position:absolute;
    height: 100%;
    width: 65%;
    top: 0;
    left: 0;
    background-color: #00235d;
    border-top-right-radius:100px;
    border-bottom-right-radius: 100px;
    padding-left: 80px;
    z-index: -5;
  }

  .section10container{
padding-left: 80px;
padding-right: 16px;
  display: flex;
  position: relative;
  top:30%
  
  
  }

  .section10subhead{
font-size: 16px;
color: white;
font-family: "Schibsted Grotesk", sans-serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: 550;
padding-top: 96px;
  }

.section10head{

font-size:56px;
font-family: "Exo", sans-serif;
font-weight: 450;
font-style: bold;
color:white;
margin-bottom: 50px;


}



.section10buttontext{
      width:70%;
      font-size: 16px;
      padding-left: 24px;
      padding-right: 8px;
      padding-top:10px;
      font-family: "Schibsted Grotesk", sans-serif;
      color: white;
      font-style: normal;
      font-weight: 600;
}

.section10button{
position: relative;
  height:57px;
  width:200px;
  padding: 8px;
  border:0.0625rem solid #99aed1;
  background-color: #00235D;
  border-radius: 2rem;
  display: flex;
margin-bottom: 50px;
}

.section10card{
  display: flex;
  flex-direction: column;
  height:586px;
  width: 353px;
  margin-right: 20px;
  float: left;
}


.section10cardhead{
  font-size:22px;
  font-family: "Exo", sans-serif;
font-weight: 450;
color:#00112E;
margin-bottom: 20px;
line-height: 1.5;
color: #00358D;
}

.section10cardpara{
  font-size:12px;
  font-family: "Exo", sans-serif;
font-weight: 450;
color:black;
opacity: 0.8;
line-height: 1.75;

}

.sec10scrollbutton1 button{
  width:64px;
   height:64px;
    border-radius:50%;
border: none;
}

.sec10scrollbutton1{
position: absolute;
right: 80px;
top:22.5%;
}


.sec10scrollbutton1{
position: absolute;
right: 80px;
top:22.5%;
}


.sec10scrollbutton2{
position: absolute;
right: 150px;
top:22.5%;
transform: rotate(180deg);
}
  /* //////////////////////////////////////////////////////////////////////////////////////////////////// */

  .section11{
height: 353px;
margin-top: 80px;
margin-bottom: 80px;
padding-left: 88px;
padding-right: 88px;
position: relative;
  }

  .section11content{
    padding-top: 88px;
    padding-bottom: 88px;
    display: flex;
    width: 100%;
    gap: 1.5rem;
    
    
  }

  .section11cont1{

    background-color: #ccd6e8;
    display: flex;
    flex-direction: column;
    padding:80px;
    flex:1;
    border-bottom-left-radius: 75px;
    gap:1.5rem;
  }

  .section11cont1heading{
    font-size: 16px;
    color: #00358D;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
    

  }
.section11cont1para{
  font-size:32px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
  color:black;
}

.section11button1{
  height:57px;
  padding: 8px;
  border:0.0625rem solid #99aed1;
  background-color: white;
  border-radius: 2rem;
  font-size: 15px;
  color: #00358D;
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 650;
  display: flex;
  background-color: #ccd6e8;
  
  
  
  }
  .section11button1text{
    width:60%;
    padding-left: 24px;
    padding-top: 10px;
    padding-right: 8px;
  }



  .section11cont2{
background-color: #003690;
display: flex;
flex-direction: column;
padding:80px;
flex:1;
border-top-right-radius: 75px;
gap: 1.5rem;


  }

  .section11cont2heading{
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
    

  }
.section11cont2para{
  font-size:32px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
  color:#FFFFFF;
}
  

  .section11button2{
    height:57px;
    padding: 8px;
    border:0.0625rem solid #99aed1;
    background-color: white;
    border-radius: 2rem;
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 650;
    display: flex;
    background-color: #003690;
    
    
    
    }
    .section11button2text{
      width:60%;
      padding-left: 24px;
      padding-top: 10px;
      padding-right: 8px;
    }
  

    .section11design{
position: absolute;
height: 150%;
right:-80%;
border:0.0625rem solid #99aed1;
  border-top-left-radius: 100px;
  border-bottom: none;
  z-index: -2;
  width: 100%;

    }


    /* //////////////////////////////////////////////////////////////////////// */


    .section12{
      height:576px;
      position: relative;
      margin-top: 200px;
      
    }


    .section12heading{
      position:absolute;
      left:35%;
      font-size:104px;
  font-family: "Exo", sans-serif;
font-weight: 650;
font-style: bold;
color:#00358D;
margin-top: 160px;
z-index: 10;
    }

    .section12cont{
display: flex;
height: 100%;

    }

    .section12cont1{
      flex:1;
      background-color: lightblue;
border-top-right-radius: 100px;

    }

    .section12cont2{
      flex:1;
    }

    .section12img{
width:100%;
height:100%;
border-top-right-radius: 100px;
object-fit: cover;

    }


    .section12para{
      position:absolute;
      left:60%;
      font-size: 20px;
      color: #00112E;
      font-family: "Schibsted Grotesk", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 400;
margin-top: 280px;
z-index: 10;
    }


    /* /////////////////////////////////////////////////////////////////////////// */

    .section13{
      padding-top:64px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      background-color: #00358D;
    }

    .section13cont1{
      padding-left: 88px;
      padding-right: 88px;
      display: flex;
      gap: 6rem;
      margin-bottom:6rem;
    }

    .section13cont1cont1{
      height:2.5rem;
      width: auto;


    }

    .section13cont1cont2{
color: #99aed1;
      display: flex;
      gap:1.5rem;
      align-items: center;
    }


    .section13cont1cont2text{

font-size: 12px;
font-family: "Schibsted Grotesk", sans-serif;
font-style: normal;
font-weight: 400;
    }


    .section13cont2{
display: flex;
flex-direction: row;
align-items: end;
justify-content: flex-end;
padding-right: 100px;
gap:1.5rem;

    }

    .section13cont2cont1{
      color: #99aed1;
      font-size: 12px;
font-family: "Schibsted Grotesk", sans-serif;
font-style: normal;
font-weight: 400;
margin-bottom: 0;
    }


    .socialIcon{
width:24px;
height:auto;
color: #99aed1;
background-color: transparent;
    }



    /* ////////////////////////////////////// */

